a {
    text-decoration: none;
}


a {
    color: black;
}


.link {
    font-size: 30px ;
}   

.link2 {
    background-color: #2f303a;
}

h2 {
    color: black;
}

footer {
    background-color: #2f303a;
}

.team {
    padding: 100px 20px;
}

.pluses {
    padding: 100px 20px;
}

.link2 {
    border: 10px;

    height: 200px;

}

button {
   background-color: #2196f3;
   height: 50px;
}

.footer2 {
    font-size: 30px;   
}