a {
    text-decoration: none;
}

a {
    color: black;
}

.studio {
    color: inherit;
}

.studio {
    font: "bold";
}

footer {
    color: white;
    background-color:rgb(47,48,58);
}

span {
    color: blue;
}

.email {
    opacity: 0.6;
}
.email2 {
    opacity: 0.6;
}

.tel2 {
    color: rgb(255,255,255,60%);
}

nav {
    font-family:'Raleway';
    font-weight: 135px;
}

body {
    font-family: 'Roboto';
}

span {
    font-family: 'Raleway';
    font-weight: 145px;
}