.advantages {
    background-color: $main-background;
    padding-top: 94px;


    &__list {
        display: flex;
        gap: 30px;
      }


      &__item::before {
        @include AdvantagesItemStyle;
        background-image: url(/image/antena.png);
     
      }


      &__item:nth-child(3)::before {
        @include AdvantagesItemStyle;
        background-image: url(/image/clocl.png);
    
      }

      &__item:nth-child(4)::before {
        @include AdvantagesItemStyle;
        background-image: url(/image/cosmonavt.png);
   
      }

      &__title {
        font-size: 14px;
        font-weight: 700;
        line-height: 1.14;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 10px;
      margin-top: 30px;
      }

      &__text {
        color: $additional-color;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71;
        letter-spacing: 0.42px;
      }
  }