.footer {
  padding-top: 60px;
    background-color: $footer-background;


    &__logo {
        color: $main-background;
        font-family: "Raleway";
        font-size: 26px;
        font-weight: 700;
        line-height: 1.38;
        letter-spacing: 0.78px;
      }

      &__color {
        color: $accent-color;
        font-family: "Raleway";
        font-size: 26px;
        font-weight: 700;
        line-height: 1.38;
        letter-spacing: 0.78px;
      }

      &__list {
        margin-top: 9px;
      }


      &__box {
        @media screen and (min-width: 768px) {
          display: flex;
          flex-wrap: wrap;
          gap: 165px;
          justify-content: center ;
        }
  
      }

      &__add {
        text-align: center;
        margin-bottom: 60px;
        margin: auto;
        
      }

   

      &__item {
        margin-bottom: 9px;
      }

      &__link {
        color: $footer-number;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71;
        letter-spacing: 0.42px;
      }

      &__enjoy {
        color: #FFF;
      font-size: 14px;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.42px;
      text-transform: uppercase;
      }
}

.address {
    margin-top: 20px;

    &__way {
        color: $main-background;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.71;
        letter-spacing: 0.42px;
      }
  }

  .social {
    &__flist {
        display: flex;
        gap: 10px;
        margin-top: 20px;
        justify-content: center;
      }

      &__fitem {
        background-color: $footer-color;
        border-radius: 50px;
      }
  }

.add__sub {
    text-align: center;
    margin-top: 60px;
}
  .sub {
    // display: flex;


    &__title {
        color: #FFF;
      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 0.42px;
      text-transform: uppercase;
      margin-bottom: 20px;
      margin-top: 60px;
      }

    &__input {
        width: 358px;
      flex-shrink: 0;
      border-radius: 4px;
      border: 1px solid rgba(255, 255, 255, 0.30);
      background: rgba(33, 150, 243, 0.00);
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
      color: rgba(255, 255, 255, 0.60);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0.48px;
      padding-left: 16px;
      padding-top: 15px;
      padding-bottom: 15px;
      }

      &__send {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 28px;
        padding-right: 28px;
        color: #FFF;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        letter-spacing: 0.96px;
        margin-left: 12px;
        background-color: $accent-color;
        border: none;
        border-radius: 4px;
        align-items: center;
        display: flex;
        gap: 10px;
        margin: auto;
        margin-top: 20px;
      }

      &__teg {
        width: 24px;
      height: 24px;
      fill: white;
      }
  }

