main {
  display: block;
}

.hero {
    padding-top: 200px;
    padding-bottom: 200px; 
    text-align: center;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(../../image/herobcg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 
    
      &__logo {
        color: $main-background;
        text-align: center;
        font-size: 44px;
        font-weight: 900;
        line-height: 60px;
        letter-spacing: 2.64px;
        text-transform: uppercase;
        margin-bottom: 30px;
      }
    
      &__button {
        color: $main-background;
        border-radius: 4px;
        text-align: center;
        background: $accent-color;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        width: 216px;
        height: 50px;
        padding: 10px 32px;
        align-items: center;
        border: none;
        transition: transform 0.3s ease;
      }

      &__button:hover {
        transform: translateY(-10px);
      }
}