.partners {
  padding-top: 94px;
padding-bottom: 60px;


  &__title {
      color: $text-color;
      text-align: center;
      font-size: 36px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 1.08px;
      margin-bottom: 50px;
      }

      &__list {
        @include contentCenter;
          gap: 30px;
          display: flex;
          flex-wrap: wrap;
        }

        &__link {
          width: 170px;
        height: 92px;
        border-radius: 4px;
        border: 1px solid #AFB1B8;
     @include contentCenter
        }

        &__icon {
          border-radius: 4px;
          fill: $border;
          width: 106px;
          height: 60px;
        }

        &__icon:hover,
          &__icon:focus {
fill: $accent-color;
}


        
}