.work {
    margin-top: 94px;

    &__list {
        display: flex;
        gap: 30px;
      }

      &__box {
        position: relative;
    }

    &__title {
        color: $text-color;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 1.08px;
        margin-bottom: 50px;
      }

      &__plus {
        background-color: $work-pluses;
        height: 70px;
        padding-top: 27px;
        padding-bottom: 27px;
        padding-right: 107px;
        padding-left: 107px;
        position: absolute;
        bottom: 0px;
        width: 100%;
      }
}

.plus__title {
    text-align: center;
    color: #FFF;
  text-align: center;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  align-items: center;
  }

