body {
  font-family: "Roboto" sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  outline: 1px solid red;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.header {
  padding-bottom: 16px;
  padding-top: 16px;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 26px;
    padding-bottom: 15px;
  }
}
.header__box {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__logo {
  color: #212121;
  font-family: "Raleway";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.72px;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo {
    font-size: 26px;
    letter-spacing: 0.78px;
    margin-right: 93px;
  }
}
.header__list {
  display: none;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .header__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: start;
  }
}
@media screen and (min-width: 1200px) {
  .header__list {
    flex-direction: row;
    gap: 30px;
  }
}
.header__item {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  transition: transform 0.3s ease;
}
.header__item:hover, .header__item:focus {
  transform: translateY(-10px);
  color: #2196f3;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__item:hover .header__icon, .header__item:focus .header__icon {
  fill: #2196f3;
}
.header__icon {
  width: 16px;
  height: 12px;
  fill: #757575;
}
.header__phone {
  width: 10px;
  height: 16px;
  fill: #757575;
}

.nav__list {
  color: var(--team-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  gap: 50px;
  display: none;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
  }
}
.nav__link {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
  padding-bottom: 31px;
  transition: transform 0.3s ease;
}
.nav__link:hover, .nav__link:focus {
  transform: translateY(-10px);
  color: #2196f3;
  border-bottom: 4px solid #2196f3;
}
.nav__link:hover .active, .nav__link:focus .active {
  color: #2196f3;
}

.web-color {
  color: #2196f3;
}

.active {
  color: #2196f3;
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(/image/herobcg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  overflow: hidden;
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.hero__logo {
  color: white;
  text-align: center;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.61;
  letter-spacing: 1.56px;
  text-transform: uppercase;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  animation-name: title-move;
  animation-duration: 2000ms;
}
@media screen and (min-width: 480px) {
  .hero__logo {
    width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__logo {
    width: 696px;
    font-size: 44px;
    letter-spacing: 2.64px;
    line-height: 1.36;
    margin-bottom: 30px;
  }
}
.hero__button {
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  background-color: #2196f3;
  padding: 10px 24px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
@media screen and (min-width: 1200px) {
  .hero__button {
    padding: 10px 32px;
  }
}

.advantages {
  background-color: #fff;
  padding-top: 94px;
}
.advantages__list {
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
  }
}
.advantages__item::before {
  content: "";
  width: 270px;
  height: 120px;
  display: block;
  background-repeat: no-repeat;
  background-color: #f5f4fa;
  border-radius: 4px;
  flex-shrink: 0;
  background-position: center;
  background-size: 70px;
  background-repeat: no-repeat;
  background-image: url(/image/antena.png);
  width: 100%;
}
@media screen and (min-width: 768px) {
  .advantages__item::before {
    width: 354px;
    height: 120px;
  }
}
.advantages__item:nth-child(3)::before {
  content: "";
  width: 270px;
  height: 120px;
  display: block;
  background-repeat: no-repeat;
  background-color: #f5f4fa;
  border-radius: 4px;
  flex-shrink: 0;
  background-position: center;
  background-size: 70px;
  background-repeat: no-repeat;
  background-image: url(/image/clocl.png);
  width: 100%;
}
.advantages__item:nth-child(4)::before {
  content: "";
  width: 270px;
  height: 120px;
  display: block;
  background-repeat: no-repeat;
  background-color: #f5f4fa;
  border-radius: 4px;
  flex-shrink: 0;
  background-position: center;
  background-size: 70px;
  background-repeat: no-repeat;
  background-image: url(/image/cosmonavt.png);
  width: 100%;
}
.advantages__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 30px;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .advantages__title {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .advantages__title {
    width: 270px;
  }
}
.advantages__text {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .advantages__text {
    width: 354px;
  }
}

.work {
  display: none;
}
@media screen and (min-width: 1200px) {
  .work {
    display: flex;
  }
}
.work__title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.work__list {
  display: flex;
  gap: 30px;
}
.work__box {
  position: relative;
}
.work__plus {
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-right: 107px;
  padding-left: 107px;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.plus__title {
  text-align: center;
  color: #FFF;
  text-align: center;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  align-items: center;
}

.team {
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.team__title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.team__list {
  text-align: center;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    flex-wrap: none;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    flex-wrap: none;
  }
}
.team__item {
  transition: transform 0.3s ease;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .team__item {
    width: auto;
  }
}
.team__item:hover {
  transform: translateY(-10px);
}
.team__img {
  box-sizing: border-box;
  width: 100%;
}
.team__box {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
}
.team__caption {
  color: #212121;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  letter-spacing: 0.48px;
  margin-bottom: 10px;
  text-align: center;
}
.team__desc {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.18;
  letter-spacing: 0.48px;
  text-align: center;
}

.social__list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
  gap: 10px;
}
.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social__link:hover, .social__link:focus {
  background-color: #2196f3;
}
.social__link:hoversocial__icon, .social__link:focussocial__icon {
  fill: white;
}
.social__icon {
  width: 20px;
  height: 20px;
  fill: #AFB1B8;
}

.partners {
  padding-top: 94px;
  padding-bottom: 60px;
}
.partners__title {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.partners__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  display: flex;
  flex-wrap: wrap;
}
.partners__link {
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  display: flex;
  align-items: center;
  justify-content: center;
}
.partners__icon {
  border-radius: 4px;
  fill: #AFB1B8;
  width: 106px;
  height: 60px;
}
.partners__icon:hover, .partners__icon:focus {
  fill: #2196f3;
}

.footer {
  padding-top: 60px;
  background-color: #2f303a;
}
.footer__logo {
  color: #fff;
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
.footer__color {
  color: #2196f3;
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}
.footer__list {
  margin-top: 9px;
}
@media screen and (min-width: 768px) {
  .footer__box {
    display: flex;
    flex-wrap: wrap;
    gap: 165px;
    justify-content: center;
  }
}
.footer__add {
  text-align: center;
  margin-bottom: 60px;
  margin: auto;
}
.footer__item {
  margin-bottom: 9px;
}
.footer__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.footer__enjoy {
  color: #FFF;
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.address {
  margin-top: 20px;
}
.address__way {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.social__flist {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
}
.social__fitem {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
}

.add__sub {
  text-align: center;
  margin-top: 60px;
}

.sub__title {
  color: #FFF;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 60px;
}
.sub__input {
  width: 358px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.48px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.sub__send {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  margin-left: 12px;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
  align-items: center;
  display: flex;
  gap: 10px;
  margin: auto;
  margin-top: 20px;
}
.sub__teg {
  width: 24px;
  height: 24px;
  fill: white;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  transition: opacity 1000ms;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.is-hidden .modal {
  transform: translate(2000px, 2000px) rotate(90deg);
  transition: transform 1s;
}

.modal {
  background-color: white;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 1s;
}
.modal__close {
  position: absolute;
  right: 200px;
}
.modal__title {
  color: #212121;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
}
.modal__signature {
  color: #757575;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.modal__input {
  width: 448px;
  height: 40px;
  display: block;
  margin-top: 4px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 50px;
  padding-right: 30px;
}
.modal__input:hover, .modal__input:focus {
  border: none;
  outline: 1px solid #2196F3;
}
.modal__input:hover:hover + .modal-icon, .modal__input:hover:focus + .modal-icon, .modal__input:focus:hover + .modal-icon, .modal__input:focus:focus + .modal-icon {
  fill: #2196F3;
}
.modal__com {
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
  padding: 12px 16px;
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  margin-bottom: 20px;
  display: block;
}
.modal__chek {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__wraper {
  position: relative;
}
.modal__icon__close {
  position: absolute;
  width: 18px;
  height: 18px;
  left: 496px;
  bottom: 529px;
  border: 1px solid white;
  border-radius: 100px;
  padding: 6px;
}
.modal__icon {
  width: 15px;
  height: 15px;
  fill: #444;
  position: absolute;
  top: 11px;
  left: 30px;
}
.modal__btn {
  padding: 10px 52px;
  border-radius: 4px;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  border: none;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.modal__btn:active {
  background-color: #2196F3;
}

.check__input {
  width: 16px;
  height: 15px;
}
.check__span {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  margin-left: 8px;
  margin-right: 4px;
}
.check__link {
  color: #2196F3;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
}

.btn__close {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  outline: 1px solid gray;
}
.btn__close:hover .icon-close, .btn__close:focus .icon-close {
  fill: #2196F3;
}

.icon-close {
  width: 20px;
  height: 20px;
  fill: green;
}/*# sourceMappingURL=main.css.map */