:root {
    --accent-color: #2196F3;
    --logo-color: #000;
    --text-color: #212121;
    --additional-color: #757575;
    --footer-number: rgba(255, 255, 255, 0.60);
    --footer-background: #2F303A;
    --team-background: #F5F4FA;
    --main-background: #FFF;
}

a {
    text-decoration: none;
    color: var(--logo-color);
}

.nav-studio {
    font: "bold";
    font-size: 26px;
}

footer {
    color: var(--main-background);
    background-color: var(--footer-background);
}

span {
    color: var(--accent-color);
    font-family: 'Raleway';
    font-weight: 700;
}

.email {
    color: var(--additional-color);
}

.telefon {
    color: var(--additional-color);
}

nav {
    font-weight: 500;
}

body {
    font-family: 'Roboto' sans-serif;
}

.footer-studio {
    font-weight: 700;
    font-size: 26px;
    color: var(--main-background);
    font-family: "Raleway";
}

.footer-address {
    color: var(--main-background);
}

footer {
    font-family: "Releway";
}

nav {
    font-weight: 700;
}

.main-img {
    color: var(--additional-color);
}

.nav-link {
    color: var(--text-color);
    font-family: "Roboto";
    font-weight: 500;
    font-size: 14px;
}

.team-title {
    font-size: 18px;
}