:root {
    --accent-color: #2196F3;
    --logo-color: #000;
    --text-color: #212121;
    --additional-color: #757575;
    --footer-number: rgba(255, 255, 255, 0.60);
    --footer-background: #2F303A;
    --team-background: #F5F4FA;
    --main-background: #FFF;
}

a {
    text-decoration: none;
}

.header-logo {
    color: var(--logo-color);
    font-family: "Raleway";
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
  }

  .web-color {
    color: var(--accent-color);
  }

  .nav-list {
    color: var(--team-color);
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
  }
  
  .nav-link {
    color: var(--additional-color);
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
  }

  .header-item {
        
  }

