a {
    text-decoration: none;
    color: black;
}

.nav-studio {
    font: "bold";
    font-size: 26px;
}

footer {
    color: white;
    background-color:rgb(47,48,58);
}

span {
    color: #2196F3;
    font-family: 'Raleway';
    font-weight: 700;
}

.email {
   color: #757575;
}

.telefon {
    color:#757575;
}

nav {
    font-weight: 500;
}

body {
    font-family: 'Roboto' sans-serif;
}

.footer-studio {
    font-weight: 700;
    font-size: 26px;
    color: white;
    font-family: "Raleway";
}

.footer-address {
    color: white;
}

footer {
    font-family: "Releway";
}
nav {
    font-weight: 700;
}

.main-img {
    color: #757575;
}

.nav-link {
    color: #212121;
}

.team-title {
    font-size: 18px;
}