:root {
  --accent-color: #2196F3;
  --logo-color: #000;
  --text-color: #212121;
  --additional-color: #757575;
  --footer-number: rgba(255, 255, 255, 0.60);
  --footer-background: #2F303A;
  --team-background: #F5F4FA;
  --main-background: #FFF;
}


body {
  font-family: "Roboto" sans-serif;
}

a {
  text-decoration: none;
  color: var(--logo-color)
}


.header-logo {
  font-weight: 700;
  color: var(--logo-color);
  font-family: 'Raleway';
  font-size: 26px;
}

.hero {
  background-color: var(--footer-background);
  border: 10px;
  height: 200px;
}

h2 {
  color: black;
}

footer {
  background-color: var(--footer-background);
}

.main {
  padding: 100px 20px;
}

.main-pluses {
  padding: 100px 20px;
  font-weight: 400;
  font-family: "Roboto";

}




.hero-button {
  background-color: var(--accent-color);
  color: var(--main-background);
  font-size: 16px;
  font-family: "Roboto";
}



span {
  color: var(--accent-color);
}

.footer-logo {
  font-weight: 700;
  color: var(--main-background);
  font-family: "Raleway";

}

h1 {
  color: var(--main-background);
}

.footer_links {
  color: var(--footer-number);
}

.footer-address {
  color: var(--main-background);
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

body {
  font-family: 'Roboto';
}


.header-nav {
  font-weight: 45;
  font-family: "Roboto";
}

nav {
  font-weight: 700;
}


.team-desc {
  color: var(--additional-color);
}

.main-text {
  color: var(--additional-color);
}


.header-item {
  color: var(--additional-color);

}

.nav-link {
  color: var(--text-color);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
}

.advantages-item {
  font-size: 14px;
}

.team-caption {
  font-weight: 500;
  font-size: 16px;
}

h1 {
  font-size: 44px;
}