a {
    text-decoration: none;
}


a {
    color: rgb(0, 0, 0);
}


.link {
    font-size: 30px ;
}   

.link2 {
    background-color: #2f303a;
}

h2 {
    color: black;
}

footer {
    background-color: #2f303a;
}

.team {
    padding: 100px 20px;
}

.pluses {
    padding: 100px 20px;
    font-weight: 48px;
    font-family: "Roboto";
}

.link2 {
    border: 10px;

    height: 200px;
    font-weight: 900;

}

button {
   background-color: #2196f3;
   color: white;
   height: 50px;
}

.footer2 {
    font-size: 30px;  
    background-color:rgb(47,48,58); 
    color: white;
}

span {
    color: 2196F3;
}

.link {
    color: black;
}

span {
    color: blue;
}

.footer2 {
    font-size: 30px;
    
}

h1 {
    color: white;
}

.footer_links {
    opacity: 0.6;
}
.footer_links {
  color: rgb(255,255,255,60%);
}

address p {
    color: #FFFFFF,;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

  body  {
    font-family: 'Roboto';
  }

  .link {
    font-family: 'Raleway';
    font-weight: 145px;
  }

  nav {
    font-weight: 45;
    font-family: "Roboto";
  }