:root {
  --accent-color: #2196F3;
  --logo-color: #000;
  --text-color: #212121;
  --additional-color: #757575;
  --footer-number: rgba(255, 255, 255, 0.60);
  --footer-background: #2F303A;
  --team-background: #F5F4FA;
  --main-background: #FFF;
}


body {
  font-family: "Roboto" sans-serif;
}

a {
  text-decoration: none;
  color: var(--logo-color)
}


.header-logo {
  color: var(--logo-color);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.web-color {
  color: var(--accent-color);
}

.nav-list {
  color: var(--team-color);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.nav-link {
  color: var(--additional-color);
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
}

.hero {
  background-color: var(--footer-background);
}

.hero-logo {
  color: var(--main-background);
  text-align: center;
  font-family: "Roboto";
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}

.hero-button {
  border-radius: 4px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.advantages {
  background-color: var(--main-background);
}

.main-title {
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.main-text {
  color: var(--additional-color);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.work-title {
  color: var(--text-color);
  text-align: center;
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.team-title {
  color: var(--text-color);
  text-align: center;
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.team-caption {
  color: var(--text-color);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}

.team-desc {
  color: var(--text-color);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}

.footer {
  background-color: var(--footer-background);
}

.logo-color {
  color: var(--accent-color);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.footer-logo {
  color: var(--main-background);
  font-family: "Raleway";
  font-size: 26px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.footer-address {
  color: var(--main-background);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.footer-link {
  color: var(--footer-number);
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 171.429% */
  letter-spacing: 0.42px;
}